/* NEW TITLE BAR - By intrnl, modified by Raiju*/
:root {
    --i-dtl-bgcolor: #282b30;
    
    --i-dtl-logoimg: url(https://discordapp.com/assets/93608abbd20d90c13004925014a9fd01.svg);
    --i-dtl-logosize: 60px 19px;
    --i-dtl-logoopacity: .6;
    --i-dtl-logooffset: 8px;
    
    --i-dtl-btnhover: rgba(255,255,255,0.1);
    --i-dtl-btnactive: rgba(255,255,255,0.15);
    --i-dtl-closehover: #e81123;
    --i-dtl-closeactive: #bf0f1d;
    
    --i-dtl-closeimg: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0xIDFoMjR2MjRIMVYxeiIvPgogICAgPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwIDcuNDFMMTguNTkgNiAxMyAxMS41OSA3LjQxIDYgNiA3LjQxIDExLjU5IDEzIDYgMTguNTkgNy40MSAyMCAxMyAxNC40MSAxOC41OSAyMCAyMCAxOC41OSAxNC40MSAxMyAyMCA3LjQxeiIvPgogIDwvZz4KPC9zdmc+);
    --i-dtl-maximizeimg: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0xIDFoMjR2MjRIMVYxeiIvPgogICAgPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTggMTNINnY3aDd2LTJIOHYtNXptLTIgMGgyVjhoNVY2SDZ2N3ptNyA1djJoN3YtN2gtMnY1aC01em0wLTEydjJoNXY1aDJWNmgtN3oiLz4KICA8L2c+Cjwvc3ZnPg);
    --i-dtl-minimizeimg: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik0xOSAxOXYtMkg3djJoMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMSAyNWgyNFYxSDF2MjR6Ii8+CiAgPC9nPgo8L3N2Zz4=);
    
    --i-dtl-buttonwidth: 48px;
    --i-dtl-resizeheight: 6px;
    --i-dtl-titlebarheight: 30px;
    
    /* Plugin: TitleforTitlebar */
    --i-dtl-tft-offset: 75px;
    --i-dtl-tft-fontsize: 14px;
}

.titleBar-3_fDwJ .wordmark-2L03Wr {
    background-image: var(--i-dtl-logoimg);
    background-size: var(--i-dtl-logosize);
}

.titleBar-3_fDwJ div:nth-of-type(2) {
    background-image: var(--i-dtl-closeimg);
}
.titleBar-3_fDwJ div:nth-of-type(3) {
    background-image: var(--i-dtl-maximizeimg);
}
.titleBar-3_fDwJ div:nth-of-type(4) {
    background-image: var(--i-dtl-minimizeimg);
}

.titleBar-3_fDwJ .winButton-U7zAqI.winButtonMinMax-bT_gQ1:hover {
    background-color: var(--i-dtl-btnhover);
}
.titleBar-3_fDwJ .winButton-U7zAqI.winButtonMinMax-bT_gQ1:active {
    background-color: var(--i-dtl-btnactive);
}
.titleBar-3_fDwJ .winButton-U7zAqI.winButtonClose-2rIvsa:hover {
    background-color: var(--i-dtl-closehover);
}
.titleBar-3_fDwJ .winButton-U7zAqI.winButtonClose-2rIvsa:active {
    background-color: var(--i-dtl-closeactive);
}

/* TitleforTitlebar */
#app-mount #TitleforTitlebar {
    height: var(--i-dtl-titlebarheight);
    top: 0;
    left: 0;
    line-height: var(--i-dtl-titlebarheight);
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: var(--i-dtl-tft-fontsize);
    margin-left: var(--i-dtl-tft-offset);
}

/* Fixes */
.auth-background,
.auth-center,
.auth-tiling-bg,
.callout-backdrop,
.upload-area {
    margin-top: var(--i-dtl-titlebarheight);
}
.popout .themed-popout {
    max-height: calc(100vh - var(--i-dtl-titlebarheight) - 48px - 20px) !important;
}
.ui-standard-sidebar-view .content-column,
.ui-standard-sidebar-view .custom-column {
    min-height: calc(100vh - var(--i-dtl-titlebarheight));
}
.modal-2LIEKY {
    margin-top: var(--i-dtl-titlebarheight);
    padding-top: calc(60px - var(--i-dtl-titlebarheight));
}
.header-toolbar .separator.separator-win,
.windowsWrapper-eHsRZV {
    display: none;
}
.tooltip,
.context-menu {
    z-index: 3005;
}
#app-mount {
    position: fixed;
    height: 100vh;
    width: 100vw;
}

/* Titlebar */
.titleBar-3_fDwJ {
    background-color: var(--i-dtl-bgcolor);
}
.titleBar-3_fDwJ:after {
    content: '';
    height: var(--i-dtl-resizeheight);
    width: calc(100vw - var(--i-dtl-buttonwidth) * 3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3002;
    -webkit-app-region: no-drag;
}
.titleBar-3_fDwJ.typeWindows-15E0Ys {
    height: var(--i-dtl-titlebarheight);
    margin-top: 0;
}
.titleBar-3_fDwJ .wordmark-2L03Wr svg,
.titleBar-3_fDwJ .winButton-U7zAqI svg {
    display: none;
}
.titleBar-3_fDwJ .wordmark-2L03Wr {
    height: var(--i-dtl-titlebarheight);
    width: calc(100vw - var(--i-dtl-buttonwidth) * 3);
    box-sizing: border-box;
    opacity: var(--i-dtl-logoopacity);
    background-position-x: var(--i-dtl-logooffset);
    background-position-y: center;
    background-repeat: no-repeat;
}
.titleBar-3_fDwJ .winButton-U7zAqI {
    height: var(--i-dtl-titlebarheight);
    width: var(--i-dtl-buttonwidth);
    top: 0;
    cursor: default;
    transition: 200ms ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}
/* NEW TITLE BAR */
