//META{"name":"Infernal_Prison","description":"A hot and fiery theme that fades like scatterd ashes. Customizable: Colors, Profile Headers, Background & DM Images. </br> <i>Based on <a href='https://github.com/Zerthox/ClearVision/tree/master/themes' target='_new'>ClearVision</a> by <a href='https://github.com/Zerthox' target='_new'>@Zerthox</a> & <a href='https://github.com/denBot/Cyan-Firewatch' target='_new'>Cyan Firewatch</a> by <a href='https://github.com/denBot' target='_new'>@denBot</a></i> <span style='position: absolute; bottom: 0; left: 0;'>Sources: <b><a href='https://www.walldevil.com' target='_new'>Background</a></b> | <b><a href='https://commons.wikimedia.org' target='_new'>DM Image</a></b> | <b><a href='http://finalfantasy.wikia.com/' target='_new'>Profile Header</a></b></span>  <span style='position: absolute; bottom: 0; right: 14px;'>By <b><a href='https://github.com/KaminariKillua' target='_new'>@Raijū</a></b></span>","author":"<a href='https://github.com/KaminariKillua' target='_new'>@Raijū</a>","version":"-latest"}*//{}

/* IMPORT CSS FROM GITHUB */
@import url(https://rawgit.com/KaminariKillua/Themes/master/InfernalPrison/InfernalPrison.version.css);
@import url(https://rawgit.com/KaminariKillua/Themes/master/PrismPrison.min.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE DISCORDS THEME TO LIGHT THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
IMPORTANT: Links must be HTTPS!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/* ============== CUSTOMIZABLE COLORS =============== */
:root {
	--main-color: #e62727;
	--hover-color: #b81f1f;
	--channel-color: #ffcccc;
}
/* ========= CUSTOMIZABLE BACKGROUND IMAGE ========== */
body::after,
.callout-backdrop,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash{
	background-image: url(https://www.walldevil.com/wallpapers/a80/disco-wallpaper-dantes-inferno-dante-games-background-animated-wallpapers.jpg) !important; /* IMPORTANT: For best result, use wallpaper dimensions */
}
/* ========= CUSTOMIZABLE DM IMAGE========== */
.guilds-wrapper .guilds .friends-icon::after {
	background-image: url(https://puu.sh/sDTyr/6c5abd7d78.gif) !important; /* IMPORTANT: For best result, use even dimensions */
}
/* ========= CUSTOMIZABLE PROFILE HEADERS========== */
/*SMALL HEADER*/
.theme-light .user-popout header.header {
	background: transparent !important;
	background-size: cover !important;
	background-image: url(https://puu.sh/sDUDL/78da3a2546.png) !important;
}
/*LARGE HEADER*/
#user-profile-modal .header {
	background-image: url(https://puu.sh/sDUDL/78da3a2546.png) !important;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/