/* NEW TITLE BAR - By intrnl, modified by Raiju*/
:root {   
    --i-dtl-buttonwidth: 48px;
    --i-dtl-resizeheight: 6px;
    --i-dtl-titlebarheight: 30px;
    --i-dtl-tft-offset: 75px;
    --i-dtl-tft-fontsize: 14px;
}
.titleBar-3_fDwJ .wordmark-2L03Wr {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRw%0D%0AOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIg%0D%0Ad2lkdGg9IjYwIiBoZWlnaHQ9IjE5IiB2aWV3Qm94PSIwIDAgNjAgMTkiPgogIDxpbWFnZSB4bGlu%0D%0AazpocmVmPSJkYXRhOmltZy9wbmc7YmFzZTY0LGlWQk9SdzBLR2dvQUFBQU5TVWhFVWdBQUFEd0FB%0D%0AQUFUQ0FNQUFBRDcySjZqQUFBQUJHZEJUVUVBQUxHUEMveGhCUUFBQUNCalNGSk5BQUI2SmdBQWdJ%0D%0AUUFBUG9BQUFDQTZBQUFkVEFBQU9wZ0FBQTZtQUFBRjNDY3VsRThBQUFCZEZCTVZFVUFBQUQvLy8v%0D%0ALy8vK2dvYUQvLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vLy8vK1ptcG4v%0D%0ALy8rWW01ang4ZkhoNE9DUGo0K09qSTV1Ym1wY1dsMmducDZ1cjYrcHFhbWtvNldlb0o2Zm9aNnNx%0D%0ANnYvLy8rZ25hR2NucHlkbnB5Z29hR1ptWmlucWFlb3FxbWlvNk9VbEpPWm1KaWRuWjZVbDVtYW1w%0D%0AcWZuNTZSa0pHUWtaR1FsSkNabDVxTWlvZUZoWU9Sa3BHV21KaVFrSkdBZ1lTTmtZK1RrWldCZzM2%0D%0ARmc0V01qSTZUa3BOeGMzQnBiVytLaG9tTmpJNXNjSEdEaFllTmk0dVBqcEI3Zkg2RmlJV0FnWU9G%0D%0AaG9lS2lJZCtlb0NEZzRPR2g0YWVuNkNtb3FKL2ZuMkRoSVdpb0tPNXU3bG5aMmR6Y25HT2pJMkpp%0D%0AWXB2YjIrRGdvS09qcENOajVDVmxaU1JrWkNVa3BlUGtaR09qNDZOakl5SGlZcUhpSWFNaTR1SGg0%0D%0AaDlmWHhyYW1wOGUzeGtaV2R2Ym10cWEycHBaMjFzYW14MmRIV0NoWU9Ua1pHZm5aNmxwS1dscHFp%0D%0AbHBhVzB0YmFXbFphT2pJNnRycTZycTZ1Ym5Kd0FBQUJjSEpVUkFBQUFHSFJTVGxNQXpJZ1ZtV2Jk%0D%0AZCs2N0lrUlZFYW8yTXdxQWpEOUUvdnR6OWwwYUFBQUFBV0pMUjBRQWlBVWRTQUFBQUFsd1NGbHpB%0D%0AQUFMRWdBQUN4SUIwdDErL0FBQUFZRkpSRUZVT011TmtnVjNnekFRZ0MrTUVrcUFkZTY3YloyN3U3%0D%0AdTd1N3Y3OXVzWDBrTGJqYkxlZzBkeXlmZVNPejZBcUNBU3hFWjJFaVFjc2k5Mm5wT2Jsemo4Ty9J%0D%0ATENyMDNLRlJGR1lENkpkU1FBbE9RYUlDU2dwUVZGWmNFU3oxaDlEUEtJWXJFQi95cnlJenlwS3BM%0D%0AcUpTVnF4V1YzckFCWUNvYzFzQ0NWYjltSlhubnNLbzZXY0thV2srWXZ4U3RSOEFCZ3FZWUFBYnJl%0D%0ATGErNGQrVGlRTURNQlQzaDhhbUZDdmIzT0lGbTd4bW53TlRwcU11NE5ZMmNhWDJEbXZYSHdQQ3NJ%0D%0Ad3FCUnMyL0dMRzRjNnUxRkMydThmRmdLaWEzYUszTHp6b0gvQnVtRXNNRHFYWkJneVBSQmxnbUlp%0D%0AbUJwUklxdXFMQjQrT1VkdUE4WWtvQXdoaGpGaC8xbVJ5dkV0UFRxVlR4NERwR2NjQUhRTUFBZFN0%0D%0AUlNNZVBEc1hhcUV3WUg3Qk1VQWsrU3pVWDNkMmNTa0RhTVNBNVJYYmdNako4ZUhWTlJCbGhRMVkz%0D%0AM0FNVUhqTml1MlVLNXU1dWJXOXM3dTNmM0I0ZEh4eTJudDJmbkZwRzZDWnFKcUdGNXgxZFgxemUz%0D%0AZi84UGowL1BMNjl2N3grZlh0dXU4SHBTQXU3VS9ENFFJQUFBQUFTVVZPUks1Q1lJST0iIHdpZHRo%0D%0APSI2MCIgaGVpZ2h0PSIxOSIvPgo8L3N2Zz4K);
    background-size: 60px 19px;
}

.titleBar-3_fDwJ div:nth-of-type(2) {
    background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/close.svg);
}
.titleBar-3_fDwJ div:nth-of-type(3) {
    background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/fullscreen.svg);
}
.titleBar-3_fDwJ div:nth-of-type(4) {
    background-image: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/remove.svg);
}

/* TitleforTitlebar */
#app-mount #TitleforTitlebar {
    height: var(--i-dtl-titlebarheight);
    top: 0;
    left: 0;
    line-height: var(--i-dtl-titlebarheight);
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: var(--i-dtl-tft-fontsize);
    margin-left: var(--i-dtl-tft-offset);
}
.auth-background,
.auth-center,
.auth-tiling-bg,
.callout-backdrop,
.upload-area {
    margin-top: 30px;
}
.popout .themed-popout {
    max-height: calc(100vh - var(--i-dtl-titlebarheight) - 48px - 20px) !important;
}
.ui-standard-sidebar-view .content-column,
.ui-standard-sidebar-view .custom-column {
    min-height: calc(100vh - var(--i-dtl-titlebarheight));
}
.modal-2LIEKY {
    margin-top: var(--i-dtl-titlebarheight);
    padding-top: calc(60px - var(--i-dtl-titlebarheight));
}
.header-toolbar .separator.separator-win,
.windowsWrapper-eHsRZV {
    display: none;
}
.tooltip,
.context-menu {
    z-index: 3005;
}
#app-mount {
    position: fixed;
    height: 100vh;
    width: 100vw;
}

/* Titlebar */
.titleBar-3_fDwJ {
    background-color: rgba(0,0,0,0.6);
}
.titleBar-3_fDwJ:after {
    content: '';
    height: var(--i-dtl-resizeheight);
    width: calc(100vw - var(--i-dtl-buttonwidth) * 3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3002;
    -webkit-app-region: no-drag;
}
.titleBar-3_fDwJ.typeWindows-15E0Ys {
    height: var(--i-dtl-titlebarheight);
    margin-top: 0;
}
.titleBar-3_fDwJ .wordmark-2L03Wr svg,
.titleBar-3_fDwJ .winButton-U7zAqI svg {
    display: none;
}
.titleBar-3_fDwJ .wordmark-2L03Wr {
    height: var(--i-dtl-titlebarheight);
    width: calc(100vw - var(--i-dtl-buttonwidth) * 3);
    box-sizing: border-box;
    opacity: .6;
    background-position-x: 8px;
    background-position-y: center;
    background-repeat: no-repeat;
}
.titleBar-3_fDwJ .winButton-U7zAqI {
    height: var(--i-dtl-titlebarheight);
    width: var(--i-dtl-buttonwidth);
    top: 0;
    cursor: default;
    transition: 200ms ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}
/* NEW TITLE BAR */
