//META{"name":"Sakura_Prison","description":"A calm and mellow theme that fades your worries away. Customizable: Colors, Profile Header, Background & DM Images. Based on ClearVision by Zerthox, Cyan Firewatch by denBot and Quiet by Omniscient. [|] Sources: Background - http://moshlab.com/sakura-anime-scenery-wallpaper-desktop-52782/ [|] DM Image - http://www.clker.com/clipart-sakura-blossom.html [|] Profile Header -  [|] By: @Raiju#7334 - https://github.com/KaminariKillua/Themes","author":"Raiju","version":"-latest"}*//{}

/* IMPORT CSS FROM GITHUB */
@import url(https://rawgit.com/KaminariKillua/Themes/master/PrismPrison.6.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE DISCORDS THEME TO LIGHT THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
IMPORTANT: Links must be HTTPS!
---------------------------------------------------------------------------------------------------------------------------------------------
-> If your theme isn't working correctly, there is most likely a new version available.
-> Redownload your respective theme from here: https://github.com/KaminariKillua/Themes.
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/* ========== CUSTOMIZABLE VARIABLES ========== */
:root {
	--main-color: #ff8080;
	--hover-color: #ffb3b3;
	--channel-color: #ffe6e6;
	--background-blur: 0px;
	--background-brightness: 87%;
}	/* ORIGINAL: --main-color: #ff8080;--hover-color: #ffb3b3;--channel-color: #ffe6e6;--background-blur: 0px;--background-brightness: 87%; (in case you want to change it back) */

/* ========== CUSTOMIZABLE BACKGROUND IMAGE ========== */
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label{
	background-image: url(https://puu.sh/w1xpD/0e5ba7ec1b.jpg) !important; /* IMPORTANT: For best result, use wallpaper dimensions */
}	/* ORIGINAL: https://puu.sh/w1xpD/0e5ba7ec1b.jpg (in case you want to change it back) */

/* ========== CUSTOMIZABLE DM IMAGE ========== */
.guilds-wrapper .guilds .friends-icon::after {
	background-image: url(https://puu.sh/vZu6N/f9ee8029ee.png) !important; /* IMPORTANT: For best result, use even dimensions */
}	/* ORIGINAL: https://puu.sh/vZu6N/f9ee8029ee.png (in case you want to change it back) */

/* ========== CUSTOMIZABLE PROFILE HEADER ========== */
.theme-light .user-popout header.header, #user-profile-modal .header,
.headerNormal-1cioxU, .bd-blue .headerNormal-1cioxU {
	background: transparent !important;
	background-size: cover !important;
	background-image: url(https://68.media.tumblr.com/e149366ea502f050eed0e099bf25e11c/tumblr_inline_omcnntlXsv1tat2xb_500.gif) !important;
}	/* ORIGINAL: https://puu.sh/w1y3a/7e878418b3.gif (in case you want to change it back) */
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
