//META{"name":"Sakura_Prison","description":"A calm and mellow theme that fades your worries away. Customize the theme with your own colours, images and more! (Compatible with the LINE plugin!) - Based on ClearVision by @Zerthox, Cyan Firewatch by @denBot & Quiet by @Omniscient.","author":"Raiju","version":"-latest"}*//{}

/* IMPORT CSS FROM GITHUB */
@import url(https://rawgit.com/KaminariKillua/Themes/master/PrismPrison.8.css);

/* IMPORTANT: Change '.old' to '.new' for the new titlebar and vice versa */
@import url(https://rawgit.com/KaminariKillua/Themes/master/Bars/Titlebar.old.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: Only works in Light Mode! Change your mode in Settings > Appearance.
IMPORTANT: Links must be HTTPS!
---------------------------------------------------------------------------------------------------------------------------------------------
-> If some elements are broken, there is either: A new theme version available, or Discord has just updated.
-> Redownload your respective theme from here: https://github.com/KaminariKillua/Themes.
-> If you notice elements are broken for a prolonged amount of time, please shoot me a message on Discord. 
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/* ========== CUSTOMIZABLE VARIABLES ========== */
:root {
    /* COLOURS */
	--main-color: #ff8080;
	--hover-color: #ffb3b3;
	--channel-color: #ffe6e6;
	
    /* IMAGES */
	--background-image: url(https://puu.sh/w1xpD/0e5ba7ec1b.jpg);	
	--dm-image: url(https://puu.sh/vZu6N/f9ee8029ee.png);	
	--profile-image: url(https://puu.sh/y8EHj/1d77073c7c.gif);
	--nsfw-image: url(https://puu.sh/zbsiF/9b67596e0e.png);
	
    /* MISC */
	--background-blur: 0px;
	--background-brightness: 87%;
	--emoji-size: 50px;
}
/* ORIGINAL: --main-color: #ff8080;--hover-color: #ffb3b3;--channel-color: #ffe6e6;--background-image: url(https://puu.sh/w1xpD/0e5ba7ec1b.jpg);--dm-image: url(https://puu.sh/vZu6N/f9ee8029ee.png);--profile-image: url(https://puu.sh/y8EHj/1d77073c7c.gif);--nsfw-image: url(https://puu.sh/zbrR0/f770ed351a.jpeg);--background-blur: 0px;--background-brightness: 87%;--emoji-size: 50px; (in case you want to change it back) */
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/