//META{"name":"Sakura_Prison","description":"Customize the theme with your own colours, images and more! (Compatible with the LINE plugin!) Based on ClearVision by Zerthox, Cyan Firewatch by denBot and Quiet by Omniscient. [|] Sources: Background - http://moshlab.com/sakura-anime-scenery-wallpaper-desktop-52782/ [|] DM Image - http://www.clker.com/clipart-sakura-blossom.html [|] Profile Header -  [|] By: @Raiju#7334 - https://github.com/KaminariKillua/Themes","author":"Raiju","version":"-latest"}*//{}

/* IMPORT CSS FROM GITHUB */
@import url(https://rawgit.com/KaminariKillua/Themes/master/PrismPrison.9.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: Links must be HTTPS!
---------------------------------------------------------------------------------------------------------------------------------------------
-> If some elements are broken, there is either: A new theme version available, or Discord has just updated.
-> Redownload your respective theme from here: https://github.com/KaminariKillua/Themes.
-> If you notice elements are broken for a prolonged amount of time, please message me on Discord. 
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/* ========== CUSTOMIZABLE VARIABLES ========== */
:root {
    /* COLORS */
    --main-color: #ff8080;
    --hover-color: #ffb3b3;
    --channel-color: #ffe6e6;

    /* IMAGES */
    --background-image: url(https://puu.sh/w1xpD/0e5ba7ec1b.jpg);
    --home-image: url(https://puu.sh/vZu6N/f9ee8029ee.png);
    --profile-image: url(https://puu.sh/y8EHj/1d77073c7c.gif);
    --nsfw-image: url(https://puu.sh/zbsiF/9b67596e0e.png);

    /* MISC */
    --background-brightness: 87%;
    --emoji-size: 50px;
}
/* ORIGINAL: --main-color: #ff8080;--hover-color: #ffb3b3;--channel-color: #ffe6e6;--background-image: url(https://puu.sh/tA2Fx/4cc244d90e.png);--home-image: url(https://puu.sh/y8FLX/2a07802950.svg);--profile-image: url(https://puu.sh/y8FH2/98b130f4ca.gif);--nsfw-image: url(https://puu.sh/zbrR0/f770ed351a.jpeg);--background-brightness: 87%;--emoji-size: 50px; (in case you want to change it back) */
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
